.title {
  font-size: 40px;
  font-weight: bold;
}

.subTitle {
  margin: 20px 0;
}

.button {
  margin: 20px 0;
}

.flexbox { 
  text-align: center;
  color: #666;
}

.btn {
  width: 200px;
  margin: 0 auto;
}