.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border: 1px solid #333;
  background-color: white;
  padding: 16px;
  z-index: 20;
}

.hidden {
  display: none;
}

.toolbar {
  margin: 32px 0;
}

.disable {
  width: 100%;
  background-color: #999;
  color: #fff;
  padding: 16px;
  border: 1px solid #fff;
  box-sizing: border-box;
}